{:source-paths ["src"]
 :dependencies [[proto-repl "0.3.1"]
                [org.clojure/core.async "0.4.474"]
                [cljs-ajax "0.7.3"]]
                ; [instaparse "1.4.9"]]
 :nrepl {:port 3333}
 :builds
 {:lib {:target     :node-library
        :output-dir "public/lib"
        :output-to "public/lib/library.js"
        :compiler-options {:pretty-print true}
        :exports {:vintages census.discovery/vintages}}}}
        ; :exports lib.core/hello}}} ;; single export format
        ; :modules {:main {:entries [census.discovery]}
        ;           :devtools {:before-load census.discovery/stop
        ;                      :after-load census.discovery/start}}}}}
 ;  :app  {:target     :browser
 ;         :output-dir "public/js"
 ;         :asset-path "js"
 ;         :modules {:main {:entries [app.core]}
 ;                   :devtools {:before-load app.core/stop
 ;                              :after-load app.core/start
 ;                              :http-root "public"
 ;                              :http-port 8020}}}}

; see command line commands: https://shadow-cljs.github.io/docs/UsersGuide.html#_command_line
